@import url("header.css");
@import url("slider.css");
@import url("lateral.css");
@import url("redes_sociales.css");
@import url("res_crow.css");
@import url("footer.css");
@import url("queries.css");
@import url("mosaico.css");
@import url("form.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}

.no-scroll{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

   

/*---------- SECTION - Imagen Banner Perro ---------------

.banner-perro{
    background: #5CCCAF;
    padding: 0 20px;
}

    .banner-perro img{
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }
*/









